@using System.Web.Optimization
@model JogadorViewModel

<div id="box-identificacao" class="clearfix">
    <h3>Identifique-se</h3>
    @using (Html.BeginForm("Identificacao", "Conta", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "Por favor, corriga os erros abaixo para continuar.")
        <div>
            @Html.LabelFor(x => x.Documento)
            @Html.TextBoxFor(x => x.Documento, new { size = 14, maxlength = 14, placeholder = "", autocomplete = "off", @class = "cpf" })
        </div>
        <div>
            @Html.LabelFor(x => x.Nome)
            @Html.TextBoxFor(x => x.Nome, new { size = 45, maxlength = 80, placeholder = "", autocomplete = "off" })
        </div>
        <div>
            @Html.LabelFor(x => x.Email)
            @Html.TextBoxFor(x => x.Email, new { size = 45, maxlength = 200, placeholder = "", autocomplete = "off" })
        </div>
        @Html.HiddenFor(x => x.Foto)
    }
</div>

<div id="webmedia" class="clearfix">
    <h3>Sua foto:</h3>
    <div class="area-captura">
        <div class="marcacao right fl"></div>
        <div class="marcacao left fr"></div>
    </div>
    <video autoplay id="video" class="fl"></video>
    <button onclick="snapshot();" class="btn-captura fl">Capturar</button>
    <div id="preview" class="fl">
        <img src="" id="image-resultado" width="135" height="135" style="display: none;" alt="" />
    </div>
    <canvas id="canvas-captura" width="333" height="250" style="display: none;"></canvas>
    <canvas id="canvas-tratado" width="250" height="250" style="display: none;"></canvas>
</div>
<div class="text-center">
    <a href="javascript:void(0);" class="btn btn-iniciar" style="display:block; margin-top: 15px;">Iniciar</a>
</div>
<p class="text-justify" style="font-size: 14px; margin-top: 10px;">Serão os 3 vencedores do jogo as pessoas cujos palpites (entre 1 e 50) ficarem mais próximos das reais posições dos bilionários na lista da Forbes. Ou seja, aqueles que acumularem menos pontos. Caso haja empate entre os 3 vencedores, será usado o palpite sobre o valor da fortuna como critério de desempate.</p>

@Scripts.Render("~/Scripts/funcoes.js", "~/Scripts/autenticacao.js")